@page "/virtual-simulation"
@layout GameLayout
@implements IAsyncDisposable

<head>
    <link rel="stylesheet" href="/libs/engine/1.0.0/TemplateData/style.css" />
</head>

<ShowAlertMessage Message="@(exceptionMessage)" Alert="@(MessageAlert.Error)" />

<ShowAlertMessage Message="@(gameEngineMessage)" Alert="@(MessageAlert.Info)" />

<div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas" style="@(canvasCssStyle)"></canvas>
    <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
        </div>
    </div>
    <div id="unity-mobile-warning">
        WebGL builds er ikke supporteret for mobile enheder.
        <div class="alert alert-warning" role="alert">
        </div>
    </div>
    <div id="unity-footer">
        <div id="unity-webgl-logo"></div>
        <div id="unity-fullscreen-button"></div>
        <div id="unity-build-title">FiskErFremtidenGameDemo</div>
    </div>
    <div class="footer-simulation">
        <div>
            <div class="shadow rounded">
                <button class="btn btn-primary btn-lg text-uppercase" style="width:250px;" disabled="@(!SimulationService.IsConnected)" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
                    læs information
                </button>
            </div>
            <br />
            <div class="shadow rounded">

                <button class="btn btn-primary btn-lg text-uppercase" style="width:250px;" disabled="@(!SimulationService.IsConnected)" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasHighscore" aria-controls="offcanvasWithBackdrop">
                    vis rasultattavle
                </button>
            </div>
        </div>
    </div>
</div>

@*Offcanvas*@
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">@(animalName)</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @(animalData)
    </div>
</div>

@*Offcanvas*@
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasHighscore" aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Bedste Resultater</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @if (tempData is not null)
        {
            <table class="table table-sm table-borderless table-responsive caption-top">
                <caption>
                    <p></p>Senest opdateret:
                    <p class="fs-6">@lastUpdated.ToString("f", CultureInfo.CreateSpecificCulture("da-DK"))</p>
                </caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in tempData.OrderByDescending(x => x.Score).Take(50))
                    {
                        <tr>
                            <th>@data.ClientId</th>
                            <td>@data.Score</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    [Inject] protected ILogger<VirtualSimulation> Logger { get; set; }
    [Inject] protected IJSRuntime JS { get; set; }
    [Inject] protected ISimulationService SimulationService { get; set; }
    [Inject] protected ISimulationHubSettings SimulationSettings { get; set; }

    private List<IScore> tempData;
    private DateTime lastUpdated;
    private string animalName;
    private string animalData;
    private IJSObjectReference? module;
    private DotNetObjectReference<VirtualSimulation>? objRef;
    private string canvasCssStyle;
    private string? gameEngineMessage;
    private string exceptionMessage;

    protected override async Task OnInitializedAsync()
    {
        SimulationService.LeaderboardUpdated += OnLeaderboardUpdated;
        SimulationService.AnimalChoosen += OnPlayerChoosenAnimal;

        await SimulationService.ConnectAsync();
        base.ShouldRender();
        base.StateHasChanged();

        gameEngineMessage = await LoadGameEngine();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                objRef = DotNetObjectReference.Create(this);
                await JS.InvokeVoidAsync("setDotNetReference", objRef);

                module = await JS.InvokeAsync<IJSObjectReference>("import", SimulationSettings.GameEnginePath);

                canvasCssStyle = "width:100vh; height:auto; aspect-ratio: 16 / 9; cursor:default;";
            }
            catch (Exception)
            {
                exceptionMessage = "Fejlede indlæsning af Core Engine.";
            }
        }
    }

    public void OnLeaderboardUpdated(object sender, LeaderboardUpdatedEventArgs e)
    {
        Logger.LogInformation($"Received data from {sender}, last updated: {e.DataSetUpdated}");

        tempData = e?.ScoreData;
        lastUpdated = e.DataSetUpdated;

        StateHasChanged();
    }

    private void OnPlayerChoosenAnimal(object sender, PlayerAnimalChoiceEventArgs e)
    {
        Logger.LogInformation($"Received animal data from {sender}.");

        animalName = e?.AnimalName;
        animalData = e?.Information.ToString();

        StateHasChanged();
    }

    public async ValueTask<string?> LoadGameEngine()
    {
        try
        {
            return await module.InvokeAsync<string>("loadUnityEngine");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, ex.Message);

            exceptionMessage = "Fejlede indlæsning af Virtuel Simulation.";

            return null;
        }
    }

    [JSInvokable("SetPlayerScoreData")]
    public async Task<bool> SendScoreAsync(float data)
    {
        if (data is 0) return false;

        Logger.LogInformation($"Received Leaderboad information : {data}");

        return await SimulationService.UpdateLeaderboardAsync((decimal)data);
    }

    [JSInvokable("SetPlayerAnimalChoiceData")]
    public async Task<bool> SendAnimalChoiceAsync(string name)
    {
        if (string.IsNullOrEmpty(name)) return false;

        Logger.LogInformation($"Received Animal Choice : {name}");

        return await SimulationService.UpdateAnimalInformationAsync(name);
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            try
            {
                await module.DisposeAsync();
                await SimulationService.DisposeAsync();

                Logger.LogInformation($"Diposed {nameof(module)} from {typeof(IJSObjectReference)}");
            }
            catch (Exception)
            {
                // Ignore, error during dispose of module.
            }
        }
    }
}
